<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EDQD</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='edqd_icon.png') }}" type="image/png">
    </head>
    <body>
        <h3 class="center-text">Upload Event Log</h3>
        <div class="upload-container">
            <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                <label for="file-upload" class="custom-file-upload">
                    Choose File
                </label>
                <input id="file-upload" type="file" name="file" accept=".xes">
                <span id="file-name">No file chosen</span>
                <input class="upload-btn" type="submit" value="Upload">
            </form>
        </div>
        
        <!-- Loading animation -->
        <div id="loading" class="loading" style="display: none;">
            <div class="spinner"></div>
            <p>Processing your event log, please wait...</p>
        </div>

        <!-- Results Section -->
        <div id="results" class="container"></div>

        <!-- Modal for detailed information -->
        <div id="detailsModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Detailed Information</h2>
                <div id="modalContent">
                    <div class="collapsible-section">
                        <h3>Other Large Dataset</h3>
                        <div class="collapsible-content">
                            <ul class="data-list">
                                <!-- Dynamically populate the list -->
                            </ul>
                            <button class="toggle-button">Show More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer Section -->
        <footer style="text-align: center; margin-top: 20px; font-size: 0.9em;">
            <p>Need to adjust the threshold values? <a href="/thresholds" style="color: #1A73E8; text-decoration: underline;">Click here</a></p>
        </footer>

        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </body>
</html>