<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EDQD</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <center>
            <h3>Upload Event Log</h3>
        </center>
        <div class="upload-container">
            <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                <label for="file-upload" class="custom-file-upload">
                    Choose File
                </label>
                <input id="file-upload" type="file" name="file" accept=".xes">
                <span id="file-name">No file chosen</span>
                <input class="upload-btn" type="submit" value="Upload">
            </form>
        </div>
        
        <div id="loading" class="loading" style="display: none;">
            <div class="spinner"></div>
            <p>Processing your event log, please wait...</p>
        </div>

        <div id="results" class="container"></div>

        <!-- Modal for detailed information -->
        <div id="detailsModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Detailed Information</h2>
                <div id="modalContent"></div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='scripts.js') }}">
        </script>
    </body>
</html>